what are they asking me to do:

👉 Make three directories where you'll do your work:

$ cd lab2
$ mkdir chill words histo
👉 In each subdirectory, write the corresponding program as described below. Each directory should have a .gitignore file, which causes git to ignore the respective binary file (e.g., chill, words, histo) and anything else you don't want committed.

Some other things that are good defaults to have for a gitignore:

# Emacs backup and scratch files
*~
\#*\#
.\#*

# MacOS stuff
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
